{% extends 'partials/base.html.twig' %}
{% block content %}

<section class="px-4 py-16 max-w-screen-xl mx-auto dark-gradient-down">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
      <div>
        <img src="{{ theme_url }}/images/products/letters/letters-main.jpg" alt="Litery pokryte platyną na płycie nagrobka" class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div class="flex flex-col gap-4 items-stretch">
        <h1 class="text-lg sm:text-xl font-bold mb-4 border-bot-cherry fill-letters-gold-section-dark uppercase break-words hyphens-none">
            Liternictwo nagrobkowe
        </h1>
        <p class="text-lg c-pink">
            Każdy układ literniczy <strong>projektujemy indywidualnie</strong>, z zachowaniem ścisłych zasad typografii i kompozycji. 
            Dbamy o dopasowanie kroju i wielkości pisma do formatu płyty oraz struktury kamienia. 
            Na etapie realizacji <strong>wykorzystujemy wyłącznie certyfikowane materiały</strong>, dzięki czemu warstwa tekstowa jest czytelna 
            i spójna z formą nagrobka <strong>przez kolejne dekady</strong>.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-primary flex-grow text-center">
                    Sprawdź ofertę liternictwa
                </a>
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
</section>

<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">

    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Dobór formy pisma do nagrobka
        </h2>
        <p class="text-lg text-gray-700">
             Rodzaj pisma dopasowujemy do <strong>stylistyki pomnika oraz charakteru kamienia</strong>. 
             Na granitach jednolitych możemy zastosować bardziej ozdobne kroje, natomiast przy gnejsach z wyraźnym użyleniem polecamy formy prostsze i bardziej stonowane. 
        </p>

        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
    <div>
        <img src="{{ theme_url }}/images/products/letters/letters-carved-vk.jpg" alt="Logotyp Kamieniarstwa Wiśniewski wyryty na białym marmurze" class="w-full object-cover golden-img-border hard-shadow">
    </div>
</section>

<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
      <div>
        <img src="{{ theme_url }}/images/products/letters/letters-basic-alt.jpg" alt="Litery piaskowane i pokryte platyną" class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Różnice w technikach literniczych
        </h2>
        <p class="text-lg text-gray-700"> 
             <strong>Liternictwo kute stosujemy przede wszystkim w twardych granitach</strong> oraz przy inskrypcjach, które mają pozostać <strong>czytelne przez wiele lat</strong> 
             bez konieczności stosowania dodatkowych zabiegów konserwacyjnych. 
        </p>
        <p class="text-lg text-gray-700"> 
             Litery nakładane sprawdzają się wtedy, gdy <strong>kamień ma wyraźną strukturę i kucie byłoby mało czytelne</strong>, 
             albo gdy zależy Ci na bardziej delikatnym i trójwymiarowym efekcie, którego nie da się uzyskać techniką kucia. 
             <strong>Złocenie rekomendujemy przy nagrobkach o klasycznym charakterze i jasnej kolorystyce</strong>, natomiast srebrzenie i patynowanie 
             dobrze komponują się z nowoczesnymi formami oraz ciemnymi granitami.
        </p>
    </div>

</section>

<section id="oferta" class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">

    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Litery piaskowane
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od 12 PLN</span>  za literę lub znak
        </div>
        {# <div class="text-xl md:text-2xl font-bold price-highlighted bg-ink">
            Dostępność: <span class="c-white"><span class="">łatwo dostępne</span></span>
        </div> #}
        <p class="text-lg text-gray-700">
            Piaskowanie liter polega na grawerowaniu kamienia strumieniem drobnego ścierniwa pod wysokim ciśnieniem, prowadzonym przez szablon. 
            W efekcie powstają <strong>trwałe, równe żłobienia</strong>, które po wypełnieniu specjalistyczną farbą zyskują <strong>elegancki kontrast i doskonałą czytelność</strong>.
        </p>
        <p class="text-lg text-gray-700">
             Technika ta najlepiej sprawdza się na <strong>granitach o jednolitej barwie</strong>. Na kamieniach o wyraźnym użyleniu czytelność może być ograniczona.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
    <div>
        <img src="{{ theme_url }}/images/products/letters/letters-basic.jpg" alt="Proste litery piaskowane i malowane czarną farbą na nagrobku Kamelia" class="w-full object-cover golden-img-border hard-shadow">
    </div>
</section>



<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img src="{{ theme_url }}/images/products/letters/letters-3d-alt.jpg" alt="Litery nakładane ze stali nierdzewnej" class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Litery metalowe
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od 35 PLN</span>  za literę lub znak
        </div>
        <p class="text-lg text-gray-700">
             Wykonujemy i montujemy <strong>litery ze stali kwasoodpornej oraz brązu</strong>, trwale osadzane na stalowych trzpieniach przy użyciu kotew chemicznych. 
             Ta technologia zapewnia <strong>wieloletnią stabilność</strong> oraz precyzyjny, elegancki efekt 3D. Inskrypcje zachowują idealną czytelność nawet na jasnych granitach 
             i kamieniach o wyraźnym użyleniu. 
        </p>
        <p class="text-lg text-gray-700">
             Ten typ liternictwa szczególnie <strong>dobrze podkreśla charakter nowoczesnych nagrobków</strong> o oszczędnej, geometrycznej formie. 
             Z przyczyn technicznych nie rekomendujemy montażu na bardzo cienkich lub niewielkich płytach, ponieważ nawierty mogłyby naruszyć strukturę kamienia. 
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>

</section>

<section>
{% set letters3dData = [
    { image_filename: '/images/products/letters/letters-3d-gallery-1.jpg', title: 'Litery metalowe ze stali nierdzewnej' },
    { image_filename: '/images/products/letters/letters-3d-gallery-2.jpg', title: 'Litery mosiężne' },
    { image_filename: '/images/products/letters/letters-3d-gallery-3.jpg', title: 'Litery polerowane' }
] %}
{% include 'modular/gallery-modular.html.twig' with {'items': letters3dData} %}
</section>


<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">

    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Litery złocone
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od 30 PLN</span>  za literę lub znak
        </div>
        <p class="text-lg text-gray-700">
             Do złocenia liter na nagrobkach używamy <strong>wyłącznie złota płatkowego o próbie 24 karatów</strong>. Tak wysoka próba eliminuje ryzyko utleniania się metalu - czernienia - 
             pod wpływem warunków atmosferycznych. 
        </p>
        <p class="text-lg text-gray-700">
             <strong>Złoto nakładamy na specjalnie przygotowany, głęboki grunt</strong>. 
             To rozwiązanie polecamy wyłącznie do granitów o jednolitej, ciemnej barwie. Na kamieniach jasnych 
             lub o intensywnym rysunku złocenia mogą być mniej widoczne. Istnieje możliwość zamówienia innych wariantów:<strong> białego złota</strong> lub pokrycia liter <strong>platyną</strong>.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
    <div>
        <img src="{{ theme_url }}/images/products/letters/letters-gold.jpg" alt="Litery pokryte płatkami złota" class="w-full object-cover golden-img-border hard-shadow">
    </div>
</section>
<section>
{% set lettersGoldData = [
    { image_filename: '/images/products/letters/letters-gold-gallery-5.jpg', title: 'Litery piaskowane i malowane złotą farbą' },
    { image_filename: '/images/products/letters/letters-gold-gallery-2.jpg', title: 'Litery pokryte platyną' },
    { image_filename: '/images/products/letters/letters-gold-gallery-3.jpg', title: 'Białe złoto' }
] %}
{% include 'modular/gallery-modular.html.twig' with {'items': lettersGoldData} %}
</section>

<section id="malowanie" class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img src="{{ theme_url }}/images/products/letters/letters-repaint.jpg" alt="Proces malowania liter na płycie nagrobnej" class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Odnawianie liter na pomniku
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od 3 PLN</span>  za literę lub znak
        </div>
        <p class="text-lg text-gray-700">
            Proces odnawiania liter na pomniku rozpoczynamy od usuwania resztek starej farby, a następnie oczyszczamy ryt z mchów i zabrudzeń atmosferycznych. 
             Dopiero na tak przygotowane podłoże <strong>aplikujemy specjalistyczne farby kamieniarskie</strong> o podwyższonej odporności na UV lub nakładamy nowe warstwy złota płatkowego.
        </p>
        <p class="text-lg text-gray-700">
            <strong>Zabieg poprawia walory wizualne pomnika</strong> i jednocześnie <strong>zabezpiecza surową strukturę kamienia</strong> wewnątrz liter przed erozją i wnikaniem wilgoci. 
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
</section>
<section>
{% set lettersGoldData = [
    { image_filename: '/images/products/letters/letters-repaint-gallery-1.jpg', title: 'Litery z nakładką złotą' },
    { image_filename: '/images/products/letters/letters-repaint-gallery-2.jpg', title: 'Napisy pozłacane' },
    { image_filename: '/images/products/letters/letters-repaint-gallery-3.jpg', title: 'Złote litery malowane' }
] %}
{% include 'modular/gallery-modular.html.twig' with {'items': lettersGoldData} %}
</section>
{% set features = [
        {
            icon: 'tombstone.svg',
            title: 'Wysoka jakość kamieni',
            text: 'Używamy tylko starannie wyselekcjonowanego granitu, gwarantującego niezrównaną trwałość i odporność na warunki atmosferyczne.',
            alt: 'Ikona jakości materiału'
        },
        {
            icon: 'tombstone.svg',
            title: 'Precyzja wykonania',
            text: 'Każdy element jest rzeźbiony i polerowany z rzemieślniczą precyzją, co zapewnia perfekcyjne wykończenie i estetykę.',
            alt: 'Ikona precyzji wykonania'
        },
        {
            icon: 'tombstone.svg',
            title: 'Gwarancja satysfakcji',
            text: 'Twoje zadowolenie jest naszym priorytetem. Służymy wsparciem na każdym etapie realizacji zamówienia.',
            alt: 'Ikona gwarancji satysfakcji'
        }
    ] %}
{# {% include 'modular/feature-cards.html.twig'%} #}

{# articles #}
{% set articles = [
    {
        image_src: theme_url ~ '/images/photos/services-photo.jpg',
        image_alt: 'Nagłówek artykułu o nowoczesnych nagrobkach',
        title: 'Nowoczesne trendy w kamieniarstwie',
        description: 'Odkryj minimalistyczne formy i innowacyjne materiały, które zyskują na popularności w projektowaniu nagrobków.',
        url: '#',
        date: '20.09.2025',
        category: 'Inspiracje'
    },
    {
        image_src: theme_url ~ '/images/photos/stones-photo-2.jpg',
        image_alt: 'Granitowa płyta nagrobna',
        title: 'Jak dbać o nagrobek z granitu?',
        description: 'Praktyczne porady dotyczące czyszczenia i konserwacji granitu, aby zachował swój blask na długie lata.',
        url: '#',
        date: '15.09.2025',
        category: 'Porady'
    },
    {
        image_src: theme_url ~ '/images/photos/stones-photo.jpg',
        image_alt: 'Rzeźba anioła na nagrobku',
        title: 'Personalizacja pomnika – co warto wiedzieć?',
        description: 'Od grawerunku po rzeźbę - poznaj możliwości personalizacji, które nadadzą pomnikowi unikalny charakter.',
        url: '#',
        date: '10.09.2025',
        category: 'Wiedza'
    }
] %}
{% include 'modular/article-cards-static.html.twig' %}
{# end articles #}
{# FAQ #}
{% include 'modular/faq-general.html.twig'%}

{# END FAQ #}

{% include 'modular/gallery_modal.html.twig'%}
{% endblock %}
