{% extends 'partials/base.html.twig' %}
{% block content %}

<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
      <div>
        <img src="{{ theme_url }}/images/services/main-photo.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div>
        <h1 class="text-3xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Konserwacja i renowacja nagrobków
        </h1>
        <p class="text-lg text-gray-700">
            Czas jest największym wyzwaniem dla każdego pomnika. 
            Nawet najszlachetniejszy kamień z biegiem lat poddaje się działaniu pogody, 
            a konstrukcja może tracić swoją stabilność. Rozumiemy, że Twoim celem jest zachowanie 
            miejsca pamięci w nienagannej kondycji. Dlatego stworzyliśmy kompleksową ofertę renowacji nagrobków 
            i opieki nad grobami, która jest naszą profesjonalną odpowiedzią na upływ czasu.
        </p>
        <p class="text-lg text-gray-700">
            Niezależnie od tego, czy pomnik wymaga głębokiej renowacji strukturalnej, 
            odnowienia powierzchni, czy regularnej pielęgnacji – jesteśmy tu, by Ci pomóc. 
            Przywracamy starym grobowcom ich dawną świetność i dbamy o to, by ich historia mogła trwać 
            w godności przez kolejne pokolenia.
        </p>
                <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-primary flex-grow text-center">
                    Usługi remontowe
                </a>
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
</section>
<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">

    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Szlifowanie nagrobków z lastryka
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od <span class="">700</span> PLN</span>
        </div>
        <p class="text-lg text-gray-700 min-h-[240px]">
            Profesjonalne szlifowanie lastryka przynosi korzyści na wielu poziomach. 
            Oprócz oczywistej odnowy wizualnej, czyli przywrócenia głębokiego koloru i połysku, 
            zyskujesz coś znacznie ważniejszego: wzmocnienie samej struktury kamienia. 
            Usuwając porowatą, osłabioną warstwę, sprawiamy, że powierzchnia staje się zwarta, 
            gładka i bardziej odporna na przyszłe zabrudzenia oraz warunki atmosferyczne. 
            To działanie prewencyjne, które ułatwia Ci przyszłą pielęgnację 
            i realnie przedłuża żywotność pomnika.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
    <div>
        <img src="{{ theme_url }}/images/services/sanding.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
</section>

<section>
{% set galleryData = [
    { image_filename: '/images/services/sanding-gallery-1.jpg', title: 'Błyszcząca powierzchnia' },
    { image_filename: '/images/services/sanding-gallery-2.jpg', title: 'Odrestaurowany wygląd' },
    { image_filename: '/images/services/sanding-gallery-3.jpg', title: 'Gładka faktura' }
] %}
{% include 'modular/_gallery-modular.html.twig' with {'items': galleryData} %}
</section>



<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img src="{{ theme_url }}/images/services/restoration.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Remonty nagrobków
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od <span class="">3000</span> PLN</span>
        </div>
        <p class="text-lg text-gray-700 min-h-[240px]">
            Remont każdego starego nagrobka rozpoczynamy od dokładnej oceny stanu technicznego, 
            która ma na celu odnalezienie źródła problemu. Bardzo często okazuje się, 
            że przyczyną jest osłabiony lub wadliwy fundament. <strong>W takiej sytuacji przystępujemy do prac naprawczych: 
            wykonujemy nową, zbrojoną wylewkę, która stanowi solidną podstawę dla całego nagrobka.</strong> 
            Potem wzmacniamy konstrukcję nadziemną, spajając ją od wewnątrz nierdzewnymi klamrami, 
            by powstrzymać dalsze rozchodzenie się elementów. W ten sposób przywracamy pomnikowi trwałość i godny charakter, 
            aby mógł służyć jako niezmienne świadectwo pamięci o bliskich.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>

</section>


<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img src="{{ theme_url }}/images/services/leveling.jpg" alt="Antypoślizgowa posadzka" class="w-full object-cover golden-img-border hard-shadow">
    </div>

    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Wylewki, płytki, okładziny 
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od <span class="">1000</span> PLN</span>
        </div>
        <ul class="list-inside mt-2 space-y-1 text-base text-lg text-gray-700 custom-list">
            <li>Wylewki wokół pomnika ze zbrojeniem: <span class="font-bold c-cherry">od 1000 PLN</span></li>
            <li>Okładziny wykonane z granitu opalanego, antypoślizgowego: <span class="font-bold c-cherry">od 2000 PLN</span></li>
            <li>Płytki betonowe z mozaiką: <span class="font-bold c-cherry">od 1200 PLN</span></li>
        </ul>
        <p class="text-lg text-gray-700 min-h-[240px]">
            Naszą pracę zawsze zaczynamy od oceny podłoża i jeśli to konieczne, 
            tworzymy solidny, zbrojony fundament, który zabezpiecza teren przed zapadaniem 
            i przesuwaniem się elementów. Dopiero na tak przygotowanym gruncie układamy 
            wybrane przez Ciebie wykończenie: antypoślizgowy granit, eleganckie płytki 
            lub klasyczną kostkę brukową. W ten sposób zyskujesz nienaganny wygląd otoczenia pomnika 
            oraz pewność, że całość zachowa estetykę i stabilność przez dekady.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
</section>




<section>
{% set levelingData = [
    { image_filename: '/images/services/leveling-gallery-1.jpg', title: 'Granit opalany, antypoślizgowy' },
    { image_filename: '/images/services/leveling-gallery-2.jpg', title: 'Płyty wokół pomnika' },
    { image_filename: '/images/services/leveling-gallery-3.jpg', title: 'Wylewka ze zbrojeniem' }
] %}
{% include 'modular/_gallery-modular.html.twig' with {'items': levelingData} %}
</section>
<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">

    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Konserwowanie nagrobków granitowych i lastrykowych 
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Pomnik granitowy: <span class="c-white">od <span class="">400</span> PLN</span>
        </div>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Pomnik lastrykowy: <span class="c-white">od <span class="">200</span> PLN</span>
        </div>
        <p class="text-lg text-gray-700 min-h-[240px]">
            Usługę konserwacji nagrobków granitowych i lastrykowych wykonujemy wyłącznie po szlifowaniu pomnika. 
            Dlaczego? <strong>Ponieważ tylko na czystej, gładkiej i strukturalnie odnowionej powierzchni impregnat 
            może zadziałać prawidłowo, wnikając w głąb kamienia.</strong> Wówczas zyskujesz potrójną korzyść: 
            wzmocnienie koloru i połysku, trwałą ochronę przed brudem i wilgocią oraz znacznie 
            łatwiejszą pielęgnację nagrobka w przyszłości.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
    <div>
        <img src="{{ theme_url }}/images/services/conservation.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
</section>

<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img src="{{ theme_url }}/images/services/caretaking.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>

    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Profesjonalna opieka nad grobem 
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Jednorazowo: <span class="c-white">od <span class="">100</span> PLN</span>
        </div>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Abonament miesięczny: <span class="c-white">od <span class="">80</span> PLN</span>
        </div>
        <p class="text-lg text-gray-700 min-h-[240px]">
            Dzieląca Cię odległość lub codzienne obowiązki nie muszą oznaczać, 
            że grób Twoich bliskich pozostaje bez opieki. Właśnie dlatego stworzyliśmy profesjonalną usługę 
            kompleksowej opieki, która zapewnia estetyczny wygląd nagrobka przez cały rok. 
            <strong>Nasz standardowy pakiet obejmuje: dokładne mycie pomnika, usuwanie liści, chwastów i zanieczyszczeń, 
            porządkowanie otoczenia, wyrzucanie starych zniczy i kwiatów oraz przycinanie zieleni.</strong> 
            Możesz skorzystać z usługi jednorazowo lub w formie regularnej, miesięcznej subskrypcji. 
            Wybierając nas, wybierasz spokój i pewność, że praca zostanie wykonana z najwyższą starannością.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#main-content" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
</section>

{% set features = [
        {
            icon: 'tombstone.svg',
            title: 'Wysoka jakość kamieni',
            text: 'Używamy tylko starannie wyselekcjonowanego granitu, gwarantującego niezrównaną trwałość i odporność na warunki atmosferyczne.',
            alt: 'Ikona jakości materiału'
        },
        {
            icon: 'tombstone.svg',
            title: 'Precyzja wykonania',
            text: 'Każdy element jest rzeźbiony i polerowany z rzemieślniczą precyzją, co zapewnia perfekcyjne wykończenie i estetykę.',
            alt: 'Ikona precyzji wykonania'
        },
        {
            icon: 'tombstone.svg',
            title: 'Gwarancja satysfakcji',
            text: 'Twoje zadowolenie jest naszym priorytetem. Służymy wsparciem na każdym etapie realizacji zamówienia.',
            alt: 'Ikona gwarancji satysfakcji'
        }
    ] %}
{% include 'modular/_feature-cards.html.twig'%}


{# FAQ #}
{% set faq_items = [
    {
        question: "Jak mogę zamówić usługę?",
        answer: "Wystarczy skontaktować się z nami przez formularz kontaktowy lub telefonicznie, a nasz zespół poprowadzi Cię krok po kroku przez cały proces, od wyboru materiału po finalizację zamówienia."
    },
    {
        question: "Ile trwa realizacja zamówienia?",
        answer: "Standardowy czas realizacji to od 2 do 4 tygodni, w zależności od złożoności projektu i dostępności wybranych materiałów. Zawsze informujemy o przewidywanym terminie na etapie składania zamówienia."
    },
    {
        question: "Czy mogę liczyć na wsparcie po wykonaniu usługi?",
        answer: "Oczywiście. Oferujemy pełne wsparcie posprzedażowe, w tym porady dotyczące konserwacji i pielęgnacji. Jesteśmy do Twojej dyspozycji w razie jakichkolwiek pytań."
    },
    {
        question: "Czy oferujecie gwarancję na swoje produkty?",
        answer: "Tak, wszystkie nasze produkty objęte są wieloletnią gwarancją. Jesteśmy pewni jakości naszych materiałów i wykonania, dlatego zapewniamy pełne bezpieczeństwo Twojej inwestycji."
    }
] %}
{% include 'modular/_faq.html.twig'%}
{# END FAQ #}
{% include 'modular/_gallery_modal.html.twig'%}


{% endblock %}