{% extends 'partials/base.html.twig' %}
{% block content %}

<section class="px-4 py-16 max-w-screen-xl mx-auto" id="konserwacja">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
      <div>
        <img src="{{ theme_url }}/images/services/main-photo.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div>
        <h1 class="text-3xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Konserwacja i renowacja nagrobków
        </h1>
        <p class="text-lg text-gray-700">
           <strong> Czas jest największym wyzwaniem dla każdego pomnika</strong>. 
            Nawet najszlachetniejszy kamień z biegiem lat poddaje się działaniu pogody, 
            a konstrukcja może tracić swoją stabilność. Rozumiemy, że Twoim celem jest zachowanie 
            miejsca pamięci w nienagannej kondycji. Dlatego stworzyliśmy <strong>kompleksową ofertę renowacji nagrobków</strong> 
            i&nbsp;opieki nad grobami, która jest naszą profesjonalną odpowiedzią na upływ czasu.
        </p>
        <p class="text-lg text-gray-700">
            Niezależnie od tego, czy pomnik wymaga głębokiej renowacji strukturalnej, 
            odnowienia powierzchni, czy regularnej pielęgnacji – <strong>jesteśmy tu, by Ci pomóc</strong>. 
            Przywracamy starym grobowcom ich dawną świetność i&nbsp;dbamy o to, by ich historia mogła trwać 
            w godności przez kolejne pokolenia.
        </p>
                <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#remonty" class="btn-primary flex-grow text-center">
                    Usługi remontowe
                </a>
                <a href="#kontakt" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
</section>
<section class="px-4 py-16 max-w-screen-xl mx-auto" id="impregnacja">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">

    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Szlifowanie nagrobków z lastryka
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od <span class="">699</span> PLN</span>
        </div>
        <p class="text-lg text-gray-700">
            Profesjonalne szlifowanie lastryka przynosi <strong>korzyści na wielu poziomach</strong>. 
            Oprócz oczywistej odnowy wizualnej, czyli przywrócenia głębokiego koloru i połysku, 
            zyskujesz coś znacznie ważniejszego: <strong>wzmocnienie samej struktury kamienia</strong>. 
        </p>
        <p class="text-lg text-gray-700 min-h-[140px]"> 
            Usuwając porowatą, osłabioną warstwę, sprawiamy, że powierzchnia staje się zwarta, 
            gładka i bardziej odporna na przyszłe zabrudzenia oraz warunki atmosferyczne. 
            To działanie prewencyjne, które ułatwia Ci przyszłą pielęgnację 
            i <strong>realnie przedłuża żywotność pomnika</strong>.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#kontakt" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
    <div>
        <img src="{{ theme_url }}/images/services/sanding.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
</section>

<section>
{% set galleryData = [
    { image_filename: '/images/services/sanding-gallery-1.jpg', title: 'Wyszlifowana powierzchnia' },
    { image_filename: '/images/services/sanding-gallery-2.jpg', title: 'Nagrobek po zakonserwowaniu' },
    { image_filename: '/images/services/sanding-gallery-3.jpg', title: '45-letni nagrobek po renowacji' }
] %}
{% include 'modular/gallery-modular.html.twig' with {'items': galleryData} %}
</section>



<section class="px-4 py-16 max-w-screen-xl mx-auto" id="remonty">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img src="{{ theme_url }}/images/services/restoration.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Remonty nagrobków
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od <span class="">1499</span> PLN</span>
        </div>
        <p class="text-lg text-gray-700 min-h-[240px]">
            Remont każdego starego nagrobka rozpoczynamy od dokładnej oceny stanu technicznego, 
            która ma na celu odnalezienie źródła problemu. Bardzo często okazuje się, 
            że przyczyną jest osłabiony lub wadliwy fundament. <strong>W takiej sytuacji przystępujemy do prac naprawczych: 
            wykonujemy nową, zbrojoną wylewkę, która stanowi solidną podstawę dla całego nagrobka.</strong> 
            Potem wzmacniamy konstrukcję nadziemną, spajając ją od wewnątrz nierdzewnymi klamrami, 
            by powstrzymać dalsze rozchodzenie się elementów. W ten sposób <strong>przywracamy pomnikowi trwałość i godny charakter</strong>, 
            aby mógł służyć jako niezmienne świadectwo pamięci o bliskich.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#kontakt" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>

</section>


<section class="px-4 py-16 max-w-screen-xl mx-auto" id="wylewki">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div>
        <img src="{{ theme_url }}/images/services/leveling.jpg" alt="Antypoślizgowa posadzka" class="w-full object-cover golden-img-border hard-shadow">
    </div>

    <div class="flex flex-col gap-4 items-stretch">
        <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Wylewki, płytki, okładziny 
        </h2>
        <div class="text-xl md:text-2xl font-bold price-highlighted">
            Cena: <span class="c-white">od <span class="">999</span> PLN</span>
        </div>
        <ul class="list-inside mt-2 space-y-1 text-base text-lg custom-list">
            <li>Wylewki wokół pomnika ze zbrojeniem: <span class="font-bold c-cherry">od 999 PLN</span></li>
            <li>Okładziny wykonane z granitu płomieniowanego, antypoślizgowego: <span class="font-bold c-cherry">od 1999 PLN</span></li>
            <li>Płytki betonowe z mozaiką: <span class="font-bold c-cherry">od 1199 PLN</span></li>
        </ul>
        <p class="text-lg text-gray-700 min-h-[240px]">
            Naszą pracę zawsze zaczynamy od oceny podłoża i jeśli to konieczne, 
            tworzymy <strong>solidny, zbrojony fundament</strong>, który zabezpiecza teren przed zapadaniem 
            i przesuwaniem się elementów. Dopiero na tak przygotowanym gruncie układamy 
            wybrane przez Ciebie wykończenie: <strong>antypoślizgowy granit, eleganckie płytki 
            lub klasyczną kostkę brukową</strong>. W ten sposób zyskujesz nienaganny wygląd otoczenia pomnika 
            oraz pewność, że całość <strong>zachowa estetykę i stabilność przez dekady</strong>.
        </p>
        <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="#kontakt" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
</section>




<section>
{% set levelingData = [
    { image_filename: '/images/services/leveling-gallery-1.jpg', title: 'Okładziny granitowe, antypoślizgowe i zabezpieczone lakierem' },
    { image_filename: '/images/services/leveling-gallery-2.jpg', title: 'Posadzka antypoślizgowa z granitu typu Padang' },
    { image_filename: '/images/services/leveling-gallery-3.jpg', title: 'Wylewka zbrojona z zamontowanymi okładzinami' },
    { image_filename: '/images/services/leveling-gallery-4.jpg', title: 'Nagrobek obłożony płytkami' },
    { image_filename: '/images/services/leveling-gallery-5.jpg', title: 'Okładzina z granitu płomieniowanego' },
    { image_filename: '/images/services/leveling-gallery-6.jpg', title: 'Podwójna wylewka betonowa zabezpieczająca pomnik' }
] %}
{% include 'modular/gallery-modular.html.twig' with {'items': levelingData} %}
</section>
<section class="px-4 py-16 max-w-screen-xl mx-auto" id="opieka">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
        <div>
            <img src="{{ theme_url }}/images/services/caretaking.jpg" alt="Profesjonalna opieka nad grobem" class="w-full object-cover golden-img-border hard-shadow">
        </div>

        <div class="flex flex-col gap-4 items-stretch">
            <h2 class="text-xl font-bold text-gray-800 mb-4 border-bot-cherry">
                Profesjonalna opieka nad grobem 
            </h2>

            <div class="text-xl md:text-2xl font-bold price-highlighted">
                Jednorazowo: <span class="c-white">od <span>99</span> PLN</span>
            </div>
            
            <div class="text-xl md:text-2xl font-bold price-highlighted">
                Abonament miesięczny: <span class="c-white">od <span>79</span> PLN</span>
            </div>

            <div class="text-lg min-h-[240px] flex flex-col gap-4">
                <p>
                    Dzieląca Cię odległość lub codzienne obowiązki nie muszą oznaczać, że grób Twoich bliskich pozostaje bez opieki. 
                    Właśnie dlatego stworzyliśmy profesjonalną usługę kompleksowej pielęgnacji nagrobka przez cały rok. 
                </p>

                <div class="flex flex-col gap-1 ">
                    <span class="font-bold mb-0">Nasz standardowy pakiet obejmuje:</span>
                    <ul class="list-inside space-y-1 text-base md:text-lg custom-list">
                        <li>dokładne mycie pomnika,</li>
                        <li>usuwanie liści, chwastów i zanieczyszczeń,</li>
                        <li>porządkowanie otoczenia,</li>
                        <li>wyrzucanie starych zniczy i kwiatów,</li>
                        <li>przycinanie zieleni.</li>
                    </ul>
                </div>

                <p>
                    Możesz skorzystać z usługi jednorazowo lub w formie regularnej, miesięcznej subskrypcji. 
                    <strong>Wybierając nas, wybierasz spokój i pewność, że praca zostanie wykonana z najwyższą starannością</strong>.
                </p>
            </div>

            <div class="flex flex-col lg:flex-row gap-3">
                <a href="#kontakt" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
            </div>
        </div>
    </div>
</section>



{% include 'modular/feature-cards-static.html.twig'%}


{# FAQ #}
{% include 'modular/faq-general.html.twig'%}

{# END FAQ #}
{% include 'modular/gallery_modal.html.twig'%}


{% endblock %}