{% extends 'partials/base.html.twig' %}
{% block content %}

{% include 'partials/shortcut-static.html.twig'%}


{% include 'partials/video-ad.html.twig'%}


<section  class="px-4 py-16 max-w-screen-xl mx-auto" id="specjalnosc">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
      <div>
        <img src="{{ theme_url }}/images/products/featured/landing-tombstone.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div>
        <h1 class="text-3xl font-bold text-gray-800 mb-4 border-bot-cherry">
            Tworzymy nagrobki na pokolenia
        </h1>
        <p class="text-lg text-gray-700">
            <strong>Specjalizujemy się w realizacji nagrobków z wyselekcjonowanych kamieni naturalnych. </strong>
            Niezależnie od tego, czy masz własną wizję, czy wybierasz gotowy projekt, 
            <strong>Kamieniarstwo Wiśniewski zapewni Ci pełne wsparcie</strong> i doradztwo na każdym etapie realizacji. 
            
        </p>
        <p class="text-lg text-gray-700">
            Nasze usługi obejmują cały proces: pomagamy dobrać <strong>odpowiedni rodzaj i barwę kamienia, formę pomnika oraz&nbsp;galanterię nagrobkową</strong>. 
            Całą konstrukcję osadzamy na <strong>zbrojonym, betonowym fundamencie</strong>, który zabezpiecza jej trwałość na dziesięciolecia.
        </p>
                <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="{{ page.find('/produkty').url }}" class="btn-primary flex-grow text-center">
                    Nasze produkty
                </a>
                <a href="{{ home_url }}#kontakt" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
</section>
<section class="w-full py-8 px-4">
    <div class="mx-auto max-w-5xl grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-8 md:gap-16 items-center white-gradient-down">

        <img 
            src="{{ theme_url }}/images/photos/mieczyslaw-wisniewski-2.jpg" 
            alt="Mieczysław Wiśniewski - założyciel firmy"
            class="golden-img-border w-56 h-56 md:w-72 md:h-72 mx-auto md:mx-0 object-cover shadow-lg"
        >

        <div class="py-6 md:py-10">
            <blockquote class="founder__quote text-gray-700">
                <h4 class="mb-8 border-bot-pink pb-4 leading-[1.9]">
                    "Podstawą naszej firmy jest zaufanie i wierność danemu słowu. Każdy&nbsp;pomnik to obietnica, że pamięć o bliskich przetrwa dekady.<br>Nagrobki przez nas postawione są świadectwem, że go dotrzymujemy."
                </h4>
                <p class="text-md md:text-base font-medium c-cherry not-italic">
                    — Mieczysław Wiśniewski, założyciel firmy Kamieniarstwo Wiśniewski.
                </p>
            </blockquote>
        </div>

    </div>
</section>


<section class="px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">

    <div>
        <h1 class="text-3xl font-bold text-gray-800 mb-4 border-bot-cherry">
            <span class="c-cherry">Kamieniarstwo Wiśniewski:</span><br>
            Zaufany zakład kamieniarski na Śląsku
        </h1>
        <p class="text-lg text-gray-700">
        <strong>Od trzech dekad udowadniamy, że w kamieniarstwie nie ma dróg na skróty.</strong> Prawdziwe rzemiosło to połączenie surowej dyscypliny z empatią wobec drugiego człowieka. 
        Wybór szlachetnych odmian granitu i <strong>autorskie techniki montażu</strong> to nasz sposób na to, by pomóc Ci w godnym pożegnaniu bliskich.        
        </p>
        <p class="text-lg text-gray-700">
              <strong>Podstawą naszej działalności są niezachwiana solidność wykonania i szacunek dla klientów.</strong> 
        </p>
                <div class="flex flex-col lg:flex-row gap-3 lg:col-start-1 lg:row-start-4">
                <a href="{{ page.find('/uslugi').url }}" class="btn-primary flex-grow text-center">
                    Nasze usługi
                </a>
                <a href="{{ home_url }}#kontakt" class="btn-cta flex-grow text-center">
                    Skontaktuj się
                </a>
        </div>
    </div>
    <div>
        <img src="{{ theme_url }}/images/photos/kamieniarstwo-wisniewski-wlasciciel.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
</section>

<section class="px-4 py-16 max-w-screen-xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 md:gap-16 items-center">
        
        <div>
            <img src="{{ theme_url }}/images/photos/article-photo.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover rounded-lg shadow-lg golden-img-border hard-shadow">
        </div>

        <div class="flex flex-col space-y-6">
            <h2 class="text-3xl md:text-4xl font-bold text-gray-800 border-bot-cherry">
                <span class="c-cherry block font-semibold text-2xl">Potrzebujesz pomocy?</span>
                Zawsze służymy fachowym doradztwem!
            </h2>

            <p class="text-lg text-gray-700 leading-relaxed">
               Wiemy, że w obliczu straty trudno myśleć o sprawach technicznych. Zespół Kamieniarstwa Wiśniewski zajmie się każdym detalem, zdejmując ten ciężar z Twoich barków. 
               Doradzamy przy wyborze materiału, projektujemy nagrobek i <strong>przechodzimy przez cały ten proces razem z Tobą, krok po kroku.</strong>
            </p>
                <a href="https://biznes.interia.pl/finanse/news-ile-kosztuje-pomnik-granitowy-ceny-u-kamieniarza,nId,7977744"
                   class="btn-tertiary w-full sm:w-auto text-center justify-center text-gray-700 hover:text-gray-900 text-xl font-semibold">
                    Przeczytaj nasz wywiad dla Interii Biznes!
                </a>
            
            <p class="text-lg text-gray-700 leading-relaxed">
                <strong>Naszym celem jest transparentność i Twój spokój. </strong>
                Chętnie odpowiemy na wszystkie pytania, wyjaśnimy różnice w cenach i pomożemy znaleźć rozwiązanie, 
                które najlepiej odda hołd pamięci Twoich bliskich.
            </p>

            <div class="flex flex-col sm:flex-row gap-4 pt-4">
                <a href="#kontakt" class="btn-cta--big w-full sm:w-auto flex-grow text-center justify-center ">
                    Skontaktuj się!
                </a>
            </div>
        </div>
    </div>
</section>
{% include 'partials/landing-tombstone.html.twig'%}



{% include 'partials/produkty.html.twig'%}

{% include 'partials/popular-services.html.twig'%}

<div class="flex section-header mx-auto my-8">
        <div class="section-header__content section-header__bg--granite">
            <h3 class="text-xl md:text-2xl text-center font-semibold fill-letters-gold-section uppercase">Kamienie</h3>
        </div>
    </div>



{% include 'partials/recommended-stones.html.twig'%}


<div class="flex section-header mx-auto my-8">
    <div class="section-header__content section-header__bg--black">
        <h3 class="text-xl md:text-2xl text-center font-semibold fill-letters-gold-section uppercase">Liternictwo</h3>
    </div>
</div>


{% include 'partials/partial-letters.html.twig'%}


 <div id="realizacje" class="flex section-header mx-auto my-8">
     <div class="section-header__content section-header__bg--golden">
        <h3 class="text-xl md:text-2xl text-center font-semibold fill-letters-gold-section uppercase">Realizacje</h3>
     </div>
</div>

{% include 'partials/gallery.html.twig'%}

{% include 'modular/gallery_modal.html.twig'%}

{# articles #}
{% set articles = [
    {
        image_src: theme_url ~ '/images/photos/services-photo.jpg',
        image_alt: 'Nagłówek artykułu o nowoczesnych nagrobkach',
        title: 'Nowoczesne trendy w kamieniarstwie',
        description: 'Odkryj minimalistyczne formy i innowacyjne materiały, które zyskują na popularności w projektowaniu nagrobków.',
        url: '#',
        date: '20.09.2025',
        category: 'Inspiracje'
    },
    {
        image_src: theme_url ~ '/images/photos/stones-photo-2.jpg',
        image_alt: 'Granitowa płyta nagrobna',
        title: 'Jak dbać o nagrobek z granitu?',
        description: 'Praktyczne porady dotyczące czyszczenia i konserwacji granitu, aby zachował swój blask na długie lata.',
        url: '#',
        date: '15.09.2025',
        category: 'Porady'
    },
    {
        image_src: theme_url ~ '/images/photos/stones-photo.jpg',
        image_alt: 'Rzeźba anioła na nagrobku',
        title: 'Personalizacja pomnika – co warto wiedzieć?',
        description: 'Od grawerunku po rzeźbę - poznaj możliwości personalizacji, które nadadzą pomnikowi unikalny charakter.',
        url: '#',
        date: '10.09.2025',
        category: 'Wiedza'
    }
] %}
{% include 'modular/article-cards-static.html.twig' %}
{# end articles #}
{# FAQ #}

{% include 'modular/faq-general.html.twig'%}
{# END FAQ #}
{% endblock %}