{% extends 'partials/base.html.twig' %}
{% block content %}


{% set productVariants = [
    {
        title: "Wariant Standard - Ponadczasowa Elegancja",
        price: "5 499",
        img: "/images/products/product-01/single-01.jpg",
        size: "Standard",
        full_desc: "Nasz Wariant Standard to idealne połączenie klasycznego wzornictwa i wysokiej jakości materiałów. Zapewnia trwałość i estetyczny wygląd, będąc jednocześnie najbardziej ekonomicznym wyborem dla pojedynczego miejsca."
    },

    {
        title: "Wariant Standard - Ponadczasowa Elegancja",
        price: "12 499",
        img: "/images/products/product-01/double-01.jpg",
        size: "Rodzinny",
        full_desc: "Największy z naszych wariantów, zaprojektowany z myślą o grobowcach rodzinnych. Łączy w sobie majestatyczny wygląd z najwyższą jakością wykonania, aby godnie upamiętnić bliskich."
    }
] %}

{# <div class="relative w-full h-[600px] rounded-lg shadow-lg overflow-hidden pale-img-border product-img is-active">
    <img src="{{ theme_url }}/images/placeholders/test-prod/VK-nagrobki-120.jpg" alt="Obrazek dla produktu 1" class="w-full h-full object-cover">
    <div class="absolute inset-0 flex flex-col items-center justify-center p-4 text-white">
        <div class="product-img__mini--title mt-2 text-2xl font-semibold">
            PRODUCT - GRANITE WHITE TOMBSTONE POLISHED #1
        </div>
    </div>
</div> #}

<section class="lg:px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <div>
<img id="product-image" src="{{ theme_url }}{{ productVariants[0].img }}" 
    alt="Renowacja starego nagrobka granitowego" 
    class="w-full object-cover golden-img-border hard-shadow animated-opacity">
    </div>
    <div class="overflow-hidden h-full flex flex-col">
        <div class="p-0 flex flex-col flex-grow gap-4 md:p-6">
            <h2 class="text-3xl font-bold text-gray-800 underline--cherry lg:whitespace-nowrap">Nagrobek jakiśtam</h2>

            {# Przyciski generowane dynamicznie #}
            <div class="flex flex-col justify-around lg:flex-row gap-3">
                {% for variant in productVariants %}
                    <button
                        type="button"
                        class="variant-button btn-tertiary text-center 
                                text-gray-600 hover:text-gray-900 shrink-0 
                                whitespace-nowrap {% if loop.first %}is-active{% endif %}"
                        data-price="{{ variant.price }}"
                        data-desc="{{ variant.full_desc }}"
                        data-img="{{ theme_url }}{{ variant.img }}"
                    >
                        {{ variant.size }}
                    </button>
                {% endfor %}
            </div>

            {# Zaktualizowane wyświetlanie ceny #}
            <div class="text-xl md:text-2xl font-bold mt-2 price-highlighted">
                Cena: <span class="c-white">od <span id="product-price" class="animated-opacity">{{ productVariants[0].price }}</span> PLN</span>
            </div>

            {# Zaktualizowane wyświetlanie opisu #}
            <p id="product-description" class="min-h-[200px] text-gray-700 text-lg animated-opacity">
                {{ productVariants[0].full_desc }}
            </p>

            <div class="flex flex-col lg:flex-row gap-3 mt-auto">
                <a href="#szczegoly" class="btn-primary flex-grow text-center">
                    Zobacz realizacje
                </a>
                <a href="#kontakt" class="btn-cta flex-grow text-center">
                    Zamów produkt
                </a>
            </div>
        </div>
    </div>
</section>

{% set galleryItems = [
    { image_filename: '/images/products/product-01/product-01-gallery-7.jpg', title: 'Nagrobek Pojedynczy Klasyczny' },
    { image_filename: '/images/products/product-01/product-01-gallery-8.jpg', title: 'Nagrobek Podwójny Nowoczesny' },
    { image_filename: '/images/products/product-01/product-01-gallery-1.jpg', title: 'Grobowiec Rodzinny z Granitu' },
    { image_filename: '/images/products/product-01/product-01-gallery-2.jpg', title: 'Pomnik z Czarnym Krzyżem' },
    { image_filename: '/images/products/product-01/product-01-gallery-3.jpg', title: 'Nagrobek Urnowy Jasny' },
    { image_filename: '/images/products/product-01/product-01-gallery-4.jpg', title: 'Renowacja starego pomnika' },
    { image_filename: '/images/products/product-01/product-01-gallery-5.jpg', title: 'Renowacja starego pomnika' }
] %}
{# 
<section class="lg:px-4 py-16 max-w-screen-xl mx-auto">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start">
    <div class="overflow-hidden h-full flex flex-col">
        <div class="p-0 flex flex-col flex-grow gap-4 md:p-6">
            <h2 class="text-3xl font-bold text-gray-800 underline--cherry lg:whitespace-nowrap">Produkt Numer 1 - Nagłówek</h2>
            <p class="text-gray-700 text-lg">
                Tutaj znajduje się szczegółowy opis wybranego produktu. Możesz tu umieścić wszystkie niezbędne informacje, które pomogą klientowi podjąć decyzję. Opis może być dłuższy i zawierać kilka akapitów.
            </p>
            <div class="flex flex-col lg:flex-row gap-3 mt-auto">
                <a href="#szczegoly" class="btn-primary flex-grow text-center">
                    Zobacz realizacje
                </a>
                <a href="#kontakt" class="btn-cta flex-grow text-center">
                    Zamów produkt
                </a>
            </div>
        </div>
    </div>
    <div>
          <img src="{{ theme_url }}/images/placeholders/test-prod/VK-nagrobki-124.jpg" alt="Renowacja starego nagrobka granitowego" class="w-full object-cover golden-img-border hard-shadow">
    </div>
</section> #}
<section>
    {# <div class="max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold text-gray-800 mb-4 border-bot-cherry text-center">
            Galeria 
        </h1>
        <p>
            Specjalizujemy się w pracach cmentarnych, budowie nagrobków i renowacji pomników.
            Skontaktuj się w celu zapoznania się z pełną ofertą naszych usług - nasza strona pozostaje w budowie, ale jesteśmy dostępni telefonicznie i mailowo. 
        </p>
    </div> #}
    <div class="lg:p-6">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

            {# 
              2. PĘTLA FOR W TWIGU
              Iterujemy po każdym elemencie w tablicy `galleryItems`.
              Każdy element jest dostępny pod zmienną `item`.
            #}
            {% for item in galleryItems %}
                <div class="relative w-full h-64 rounded-lg shadow-lg overflow-hidden pale-img-border product-img cursor-pointer">
                    <img src="{{ theme_url }}{{ item.image_filename }}" 
                         alt="{{ item.title }}" 
                         class="w-full h-full object-cover">
                    
                    <div class="absolute inset-0 flex flex-col items-center justify-center p-4 text-white bg-black bg-opacity-20">
                        <span class="product-img__mini--check text-lg font-bold tracking-widest">
                            OBEJRZYJ
                        </span>
                        <div class="product-img__mini--title mt-2 text-xl font-semibold">
                            {{ item.title }}
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="col-span-full text-center text-gray-500">
                    Obecnie brak zdjęć w galerii.
                </p>
            {% endfor %}
            
        </div>
    </div>
{# </section>
<section class="px-4 py-16 max-w-screen-xl mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 lg:gap-x-12">
        <div class="flex flex-col gap-4 py-4">
            <h2 class="text-3xl font-bold text-gray-800 underline--cherry">Wysoka jakość kamieni</h2>
            <p class="text-gray-700 text-lg">
                Cena nagrobka zależy przede wszystkim od rodzaju kamienia. 
                Wyjaśnimy Ci różnicę między gotowymi pomnikami importowanymi a <strong>szlachetnym, 
                certyfikowanym granitem, który tniemy i obrabiamy na Twoje indywidualne zamówienie w naszym warsztacie.</strong> 
                Decydując się na tę drugą opcję, zyskujesz najwyższą jakość i pełną kontrolę nad każdym detalem. 
                <strong>To Ty decydujesz</strong> o rodzaju kamienia, kształcie i kolorze płyty oraz ewentualnych zdobieniach i dodatkach.
            </p>
        </div>
        <div class="flex flex-col gap-4 py-4">
            <h2 class="text-3xl font-bold text-gray-800 underline--cherry">Trwałość nagrobków</h2>
            <p class="text-gray-700 text-lg">
                Prawdziwą jakość trudno dostrzec na pierwszy rzut oka. 
                Dlatego pod każdym nagrobkiem wylewamy solidny, zbrojony fundament betonowy. 
                To nasz obowiązek i Twoja pewność, że nagrobek zachowa idealny stan przez pokolenia. 
                To właśnie pieczęć jakości Kamieniarstwa Wiśniewski.
            </p>
        </div>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 lg:gap-x-12">
        <div class="flex flex-col gap-4 py-4">
            <h2 class="text-3xl font-bold text-gray-800 underline--cherry">Indywidualny projekt&nbsp;nagrobka</h2>
            <p class="text-gray-700 text-lg">
                CPomnik powinien być tak unikalny, jak osoba, którą upamiętnia. 
                Dlatego oferujemy Ci szeroką paletę materiałów, z których wspólnie stworzymy projekt 
                odzwierciedlający Twoje oczekiwania. Każdy projekt zaczynamy od rozmowy z Tobą, 
                słuchając Twojej wizji i przekuwając ją w jedyny w swoim rodzaju projekt nagrobka.
            </p>
        </div>
        <div class="flex flex-col gap-4 py-4">
            <h2 class="text-3xl font-bold text-gray-800 underline--cherry">Precyzja wykonania</h2>
            <p class="text-gray-700 text-lg">
                Kamień nie wybacza błędów. 
                Dlatego w naszym warsztacie każde cięcie, każdy szlif, 
                każda polerowana krawędź i każda rzeźbiona litera są dowodem naszej pasji i szacunku do materiału. 
                Ta dbałość o detale sprawia, że nasze nagrobki są dopracowanym w każdym calu dziełem 
                kamieniarskiego rzemiosła.
            </p>
        </div>
    </div>
</section> #}

{% set materials = [
    {
        name: "Biały granit",
        desc: "Elegancki i ponadczasowy, biały granit nadaje pomnikowi lekkości i klasy.",
        img: theme_url ~ "/images/textures/marble-white-1.jpg"
    },
    {
        name: "Czerwony granit",
        desc: "Wyrazisty i pełen charakteru, czerwony granit wyróżnia się na tle innych.",
        img: theme_url ~ "/images/textures/marble-red-1.jpg"
    },
    {
        name: "Czarny granit",
        desc: "Klasyczny i dostojny, czarny granit symbolizuje trwałość i elegancję.",
        img: theme_url ~ "/images/textures/marble-black-1.jpg"
    },
    {
        name: "Piaskowiec",
        desc: "Unikalny i szlachetny, piaskowiec dodaje kompozycji głębi i oryginalności.",
        img: theme_url ~ "/images/textures/limestone-1.jpg"
    }
] %}

    
{% set recommendedGranites = [
    {
        name: "Biały granit",
        desc: "Elegancki i ponadczasowy, biały granit nadaje pomnikowi lekkości i klasy.",
        img: theme_url ~ "/images/textures/marble-white-1.jpg"
    },
    {
        name: "Czerwony granit",
        desc: "Wyrazisty i pełen charakteru, czerwony granit wyróżnia się na tle innych.",
        img: theme_url ~ "/images/textures/marble-red-1.jpg"
    },
    {
        name: "Czarny granit",
        desc: "Klasyczny i dostojny, czarny granit symbolizuje trwałość i elegancję.",
        img: theme_url ~ "/images/textures/marble-black-1.jpg"
    }
] %}

<section class="py-4 lg:py-8">
  {# --- Część statyczna z opisem --- #}
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start max-w-screen-xl mx-auto px-4 my-16">
    <div>
        <img src="{{ theme_url }}/images/photos/stones-photo-3.jpg" alt="Renowacja starego nagrobka granitowego"
        class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div class="flex flex-col space-y-6">
        <h1 class="text-3xl font-bold text-gray-800 mb-2 border-bot-cherry">
            Polecane kamienie
        </h1>
        <p class="text-lg text-gray-700">
            Tekst o tym jakie dostępne kamienie są najlepsze do tego typu nagrobka.
            Możemy dodać różne kolory, możemy dodać różne ceny i dostępności.
        </p>
        <button class="btn-primary w-full flex justify-center">
            Wszystkie dostępne kamienie
        </button>
    </div>
  </div>

  {# --- Tutaj dołączasz komponent karuzeli --- #}
  {# Komponent otrzyma listę zdefiniowaną powyżej (bez piaskowca) #}
  {% include 'modular/_stones.html.twig' with {
      items: recommendedGranites,
      unique_id: 'recommendedGranites'
  } %}

</section>



{% set product_addons = header.product_addons %}
{% set features = header.features %}
{% set faq_items = header.faq_items %}

{# Addons #}
{% include 'modular/_content-switcher.html.twig' with { items: product_addons } %}

{# Features #}
<section class="py-8 lg:py-16">
  <div class="max-w-screen-xl mx-auto px-4 sm:px-6 lg:px-8 ">
    <div class="max-w-4xl mx-auto">
      <h1 class="text-3xl font-bold text-gray-800 mb-4 border-bot-cherry text-center">Cechy produktu</h1>
      <p>{{ header.features_intro|default('Specjalizujemy się w pracach cmentarnych...') }}</p>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 gap-y-8 py-8 lg:py-16">
      {% for feature in features %}
        <div class="p-4 flex flex-col items-center text-center h-full article-card hover-up-4">
          <div class="flex-shrink-0 my-auto">
            <div class="flex items-start justify-center h-16 w-16">
              <img src="{{ theme_url }}/images/icons/{{ feature.icon }}" alt="{{ feature.alt }}">
            </div>
          </div>
          <h3 class="text-xl font-semibold mb-3">{{ feature.title }}</h3>
          <hr class="w-full hr-underline bg-cherry mb-3">
          <p class="text-text-brown leading-relaxed grow">{{ feature.text }}</p>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{# FAQ #}
{% include 'modular/_faq.html.twig' with { items: faq_items } %}


 {% include 'modular/_gallery_modal.html.twig'%}


{% endblock %}