    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <link rel="icon" href="{{ url('theme://images/brand/favicon.svg') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{ url('theme://images/brand/favicon.svg') }}" />

    {# Add CSS files #}
    {% do assets.addCss('theme://dist/css/site.css', 30) %}
    {% do assets.addCss('theme://dist/css/tailwind-output.css', 50) %}
    {% do assets.addCss('theme://dist/css/main.css', 100) %}
    {{ assets.css()|raw }}

    {# Add JS files #}
    {% do assets.addJs('theme://js/main.js', {'priority': 100, 'attributes': {'type': 'module'}}) %}
    {{ assets.js()|raw }}

