
{% set galleryItems = [
    { image_filename: 'letters-1.jpg', title: 'Litery pokryte platyną' },
    { image_filename: 'letters-2.jpg', title: 'Litery z białego złota' },
    { image_filename: 'letters-3.jpg', title: 'Litery ze stali nierdzewnej' },

] %}

<section>

    <div class="lg:p-6">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start max-w-screen-xl mx-auto px-4 my-16 black-gradient-down">
    <div class="flex flex-col ">
        <h2 class="!text-lg sm:!text-4xl font-bold mb-4 border-bot-cherry fill-letters-gold-section-dark uppercase break-words hyphens-none">
            Liternictwo nagrobkowe
        </h2>
        <p class="text-lg c-pink">
            Inskrypcje wykonujemy metodą piaskowania, wykańczając je emaliami odpornymi na skrajne temperatury lub <strong>ręcznie nakładanym, 
            24-karatowym złotem płatkowym.</strong> W&nbsp;przypadku liter nakładanych stosujemy montaż na&nbsp;stalowych trzpieniach, 
            które zapewniają ich trwałe osadzenie w strukturze kamienia. <strong>Świadczymy również kompleksowe usługi renowacji liternictwa.</strong>
        </p>
        <a href="{{ page.find('/liternictwo-i-zdobienia').url }}" class="btn-primary w-full flex justify-center">
            Dowiedz się więcej
        </a>
    </div>
    <div>
        <img src="{{ theme_url }}/images/photos/letters-photo.jpg" alt="Proces nakładania liter złoconych na płytę nagrobną"
        class="w-full object-cover golden-img-border hard-shadow">
    </div>
</div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">

            {# 
              2. PĘTLA FOR W TWIGU
              Iterujemy po każdym elemencie w tablicy `galleryItems`.
              Każdy element jest dostępny pod zmienną `item`.
            #}
            {% for item in galleryItems %}
                <div class="relative w-full h-64 rounded-lg shadow-lg overflow-hidden pale-img-border product-img cursor-pointer">
                    <img src="{{ theme_url }}/images/products/letters/{{ item.image_filename }}" 
                         alt="{{ item.title }}" 
                         class="w-full h-full object-cover">
                    
                    <div class="absolute inset-0 flex flex-col items-center justify-center p-4 text-white bg-black bg-opacity-20">
                        <span class="product-img__mini--check text-lg font-bold tracking-widest">
                            OBEJRZYJ
                        </span>
                        <div class="product-img__mini--title mt-2 text-xl font-semibold">
                            {{ item.title }}
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="col-span-full text-center text-gray-500">
                    Obecnie brak zdjęć w galerii.
                </p>
            {% endfor %}
            
        </div>
    </div>
</section>
