
{# --- PRODUKTY --- #}
<div class="flex section-header mx-auto lg:mt-8 ">
  <div class="section-header__content section-header__bg--golden-alt">
    <h3 class="text-xl md:text-2xl text-center font-semibold fill-letters-gold-section uppercase">
      PRODUKTY
    </h3>
  </div>
</div>

{# --- PRODUKTY --- #}
{% if all_products is not empty %}
<section class="py-12 lg:py-16 overflow-hidden">
  {# --- KONTENER GŁÓWNY KARUZELI "SHUFFLE" KARUZELA Z LANDINGU --- #}
  <div class="shuffle-carousel js-shuffle-carousel">
    <div class="shuffle-carousel__track">
      {% for product in all_products %}
      <div class="shuffle-carousel__slide">
        <div class="product-card" style="background-image: url('{{ theme_url }}{{ product.image }}');">
          <div class="product-card__main-content">
            <h3 class="product-card__title">{{ product.name }}</h3>
            <p class="product-card__price"><span class="c-pink">Cena:</span> {{ product.price }}</p>
            <button class="product-card__expand-btn pointer-events-none">ROZWIŃ</button>
          </div>
          <div class="product-card__details-overlay">
            <button class="details-overlay__close-btn" aria-label="Zamknij szczegóły">&times;</button>
            <div class="details-overlay__content">
              <p class="product-card__desc">{{ product.full_desc }}</p>
              <div class="product-card__buttons">
                <a href="{{ base_url_absolute}}{{ product.path }}" class="btn-primary">Sprawdź produkt</a>
                <a href="#kontakt" class="btn-cta">Zamów wariant</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    {# --- Przyciski nawigacyjne --- #}
    <button class="shuffle-carousel__btn shuffle-carousel__btn--prev">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M15 19l-7-7 7-7" />
      </svg>
    </button>
    <button class="shuffle-carousel__btn shuffle-carousel__btn--next">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start max-w-screen-xl mx-auto px-4 mt-16">
    <div class="flex flex-col space-y-6">
      <h1 class="text-3xl font-bold text-gray-800 mb-2 border-bot-cherry">
        Nasze produkty
      </h1>
      <p class="text-lg text-gray-700">
        Od ponad 30 lat dostarczamy wysokiej jakości usługi kamieniarskie, specjalizując się w projektowaniu i wykonawstwie nagrobków dla klientów z Dąbrowy Górniczej i całego Śląska.
      </p>
      <p class="text-lg text-gray-700">
        Stawiamy na najwyższą jakość materiałów i precyzję pracy. Podstawą naszej działalności są niezachwiana solidność wykonania i szacunek dla rzemiosła.
      </p>
      <a href="{{ page.find('/produkty').url }}" class="btn-cta w-full flex justify-center">
        Zobacz wszystkie dostępne produkty
      </a>
    </div>

    <div>
      <img src="{{ theme_url }}/images/photos/products-photo.jpg"
        alt="Renowacja starego nagrobka granitowego"
        class="w-full object-cover golden-img-border hard-shadow">
    </div>
  </div>
</section>
{% endif %}
