
   <div class="flex section-header mx-auto my-8">
        <div class="section-header__content section-header__bg--granite">
            <h3 class="text-xl md:text-2xl text-center font-semibold fill-letters-gold-section uppercase">Kamienie</h3>
        </div>
    </div>

    
{% set materials = [
    {
        name: "Biały granit",
        desc: "Elegancki i ponadczasowy, biały granit nadaje pomnikowi lekkości i klasy.",
        img: theme_url ~ "/images/textures/marble-white-1.jpg"
    },
    {
        name: "Czerwony granit",
        desc: "Wyrazisty i pełen charakteru, czerwony granit wyróżnia się na tle innych.",
        img: theme_url ~ "/images/textures/marble-red-1.jpg"
    },
    {
        name: "Czarny granit",
        desc: "Klasyczny i dostojny, czarny granit symbolizuje trwałość i elegancję.",
        img: theme_url ~ "/images/textures/marble-black-1.jpg"
    },
    {
        name: "Piaskowiec",
        desc: "Unikalny i szlachetny, piaskowiec dodaje kompozycji głębi i oryginalności.",
        img: theme_url ~ "/images/textures/limestone-1.jpg"
    }
] %}

<section class="py-4 lg:py-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-start max-w-screen-xl mx-auto px-4 my-16">
    <div>
        <img src="{{ theme_url }}/images/photos/stones-photo-3.jpg" alt="Renowacja starego nagrobka granitowego"
        class="w-full object-cover golden-img-border hard-shadow">
    </div>
    <div class="flex flex-col space-y-6">
        <h1 class="text-3xl font-bold text-gray-800 mb-2 border-bot-cherry">
            Polecane kamienie
        </h1>
        <p class="text-lg text-gray-700">
            Stawiamy na najwyższą jakość materiałów i precyzję pracy. Podstawą naszej działalności są niezachwiana solidność wykonania i szacunek dla rzemiosła. 
            Stawiamy na najwyższą jakość materiałów i precyzję pracy. Podstawą naszej działalności są niezachwiana solidność wykonania i szacunek dla rzemiosła. 

        </p>
        <button class="btn-primary w-full flex justify-center">
            Dowiedz się więcej
        </button>
    </div>
</div>
    <div class="max-w-screen-xl mx-auto md:px-4 grid grid-cols-1 lg:grid-cols-2 lg:gap-20 items-center">

        <div class="relative flex items-center justify-center h-[350px]">
            <button data-dir="prev" class="carousel-btn shuffle-carousel__btn shuffle-carousel__btn--prev">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>
            </button>

            <div id="carousel-container" class="w-full h-full flex items-center justify-center">
                {% for material in materials %}
                    <img src="{{ material.img }}"
                         alt="{{ material.name }}"
                         data-name="{{ material.name }}"
                         data-desc="{{ material.desc }}"
                         class="carousel-item rounded-lg  object-cover cursor-pointer">
                {% endfor %}
            </div>

            <button data-dir="next" class="carousel-btn shuffle-carousel__btn shuffle-carousel__btn--next">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" /></svg>
            </button>
        </div>

    <div id="materialInfo" class="p-2 lg:p-6 lg:ml-12">
        <h3 id="materialName" class="text-3xl font-bold mb-3 text-gray-800 transition-opacity duration-300 underline--cherry"></h3>
        <p id="materialDesc" class="text-gray-600 text-lg leading-relaxed transition-opacity duration-300"></p>
    </div>


    </div>
</section>